h1 {
	font-size: 138.5%;
	padding: 1% 1% 0 0;
}

h2 {
	font-size: 131%;
}

#ft {
    padding-top: 10px;
}

label {
	display: block;
	padding-top: 5px;
}

fieldset {
	background-color: #f5ffb6;
	padding: 10px;
	width: 50%;
}

fieldset p {
	padding-top: 5px;
}

.message {
	border: medium dashed #007600;
	background-color: #e6e6e6;
	color: black;
	width: 50%;
	padding: 5px;
	text-align: left;
	margin-top: 10px;
}

.message h2 {
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
}

.message p {
	padding: 5px;
}

#setupFrm h2 {
    margin-top: 15px;
}

.login {
	margin: 5% 25% 0 35%;
	width: 275px;
}

.button {
	margin-top: 8px;
}

.note {
    color: red;
    font-weight: bold;
}